
:root {
    --bg-green: rgb(37, 192, 37);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* Background color */
body {
    background-color: var(--bg-green);
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700; /* Stands for BOLD */
    color: white;
}

/* Navlist or Buttons Styling */
.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

/* Menu Icon for Responsive Design */
#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


/* Hero Section */
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(256.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero-image

